.box {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: .1rem solid #161411;
    padding: .5rem;
    z-index: 1;
}


/* CONTACT */
.box-contact {
    bottom: 3rem;
    left: 3rem;
}

.linkedLogo {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem 0 1rem;
    fill: #161411;
}

.linkedLogo:hover {
    fill: #23619D;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

/* DOWNLOAD */
.box-download {
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

.box-download a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.box-download:hover {
    background-color: #DE3845;
}

.download-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.download-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: .3rem;
}

.resume-pdf {
    font-size: .7rem;
}