.info-right {
    width: 34vw;
    margin-right: 3rem;
    padding-top: 8rem;
}

.right-arrow {
    width: 1.2rem;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.dropdown-button {
    display: flex;
}