.info-right {
    width: 34vw;
    margin-right: 3rem;
    padding-top: 6rem;
}

.right-arrow {
    width: 1.2rem;
    transition-duration: 1s;
    margin-right: .5rem;
}

.dropdown-button:hover .right-arrow {
    transform: rotate(90deg);
}

.drop {
    transform: rotate(90deg);
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content-button {
    width: max-content;
    height: 1rem;
    cursor: pointer;
}

.godown {
    background-color: #00B6B2;
}

.dropdown-button {
    display: flex;
    position: relative;
    cursor: pointer;
}

.emphasis {
    bottom: .9rem;
}
