header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.2rem;
}

.typewriter h1 {
	overflow: hidden;
	white-space: nowrap;
	animation: 
		typing 1s steps(30, end),
		blink-caret .2s step-end 7 forwards; 
}

.secondtypewriter .typewriter {
	overflow: hidden;
	white-space: nowrap;
	padding-right: .3rem;
	animation: 
		typing .5s 2s steps(22, end) forwards,
		blink-caret .2s step-end 13;
	opacity: 0;
}

.secondtypewriter {
	display: flex;
}

.secondtypewriter span {
	animation: lineThrough 5s 3s backwards;
}

.end {
	animation: 
		typing .3s 5s steps(5, end) forwards,
		blink-caret .2s step-end 13;
	opacity: 0;
}

@keyframes typing {
	from {width: 0} to {width: 100%}
	0% {opacity: 1} 100% {opacity: 1}
}

@keyframes blink-caret {
	from, to {border-right: .15rem solid #00B6B2} 
	50% {border-color: transparent}
	100% {border-right: none}
}

@keyframes lineThrough {
	0% {background-color: #00B6B2; text-decoration: none;}
	100% {text-decoration: line-through; background-color: #00B6B2;}
}