.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 32vw;
    height: 30rem;
}

.profile-picture img {
    height: auto;
    max-width: 18rem;
}

#hair {
    position: absolute;
    z-index: 5;
    transform: rotate(-15deg) translateX(-.9rem);
    transition-duration: 1s;
    transform-style: preserve-3d;
}

#hair:hover {
    transform: rotate(0deg) translateX(0rem) translateY(1.2rem);
    transform-origin: 10% 30%;
}

#eyes {
    position: absolute;
    top: 7rem;
    z-index: 4;
    transform-style: preserve-3d;
    animation: floatingEyes 5s 5s ease-in-out infinite alternate backwards;
}

@keyframes floatingEyes {
    50% {top: 7rem;}
    100% {top: 8.5rem;}
}

#nose {
    position: absolute;
    top: 13rem;
    z-index: 3;
    transform: rotate(-5deg);
    transition-duration: 1s;
    transform-style: preserve-3d;
    animation: floatingNose 5s 5s ease-in-out infinite alternate backwards;
}

#nose:hover {
    transform: rotate(0deg) translateX(-.1rem) translateY(-1rem);
    transform-origin: 10% 30%;
}

@keyframes floatingNose {
    50% {top: 13rem;}
    100% {top: 16rem;}
}

#mouth {
    position: absolute;
    top: 19.5rem;
    z-index: 2;
    transform: rotate(7deg);
    transition-duration: 1s;
    transform-style: preserve-3d;
    animation: floatingMouth 5s 5s ease-in-out infinite alternate backwards;
}

#mouth:hover {
    transform: rotate(-5deg) translateX(.4rem) translateY(-.9rem);
    transform-origin: 10% 30%;
}

@keyframes floatingMouth {
    50% {top: 19.5rem;}
    100% {top: 24rem;}
}

#shadow {
    position: absolute;
    top: 29rem;
    z-index: 1;
    animation: shadowing 5s 5s ease-in-out infinite alternate backwards;
    max-width: 16rem;
}

@keyframes shadowing {
    50% {max-width: 16rem;}
    100% {max-width: 20rem;}
}
