@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif', serif;
}

body {
	background: linear-gradient(to right, rgba(201,201,201,1) 0%, rgba(246,246,246,1) 50%, rgba(201,201,201,1) 100%);
	height: 50rem;
}

h1 {
	color: #161411;
	font-size: 1.2rem;
	font-weight: 600;
}

h2 {
	color:#161411;
	font-size: 1rem;
	font-weight: 300;
}

h3 {
	color:#161411;
	font-size: 1.2rem;
	font-weight: 500;
}

h5 {
	font-weight: 300;
	color: #161411;
}

button {
	background: none;
	border: none;
}

/* FIRST PART - HEADER */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.2rem;
}

.typewriter h1 {
	overflow: hidden;
	white-space: nowrap;
	animation: 
		typing 2s steps(30, end),
		blink-caret .6s step-end 7 forwards; 
}

.secondtypewriter .typewriter {
	overflow: hidden;
	white-space: nowrap;
	animation: 
		typing 1.5s 4s steps(22, end) forwards,
		blink-caret .6s step-end 13;
	opacity: 0;
}

.secondtypewriter {
	display: flex;
}

.secondtypewriter span {
	animation: lineThrough 10s 5s backwards;
}

.end {
	overflow: hidden;
	white-space: nowrap;
	animation: 
		typing .5s 10s steps(5, end) forwards,
		blink-caret .6s step-end 13;
	opacity: 0;
}

@keyframes typing {
	from {width: 0} to {width: 100%}
	0% {opacity: 1} 100% {opacity: 1}
}

@keyframes blink-caret {
	from, to {border-right: .15rem solid #00B6B2} 
	50% {border-color: transparent}
	100% {border-right: none}
}

@keyframes lineThrough {
	0% {background-color: #00B6B2; text-decoration: none;}
	100% {text-decoration: line-through; background-color: #00B6B2;}
}


/* SECOND PART - CONTENT */

.content {
	display: flex;
}

	/* LEFT SIDE */
	.info-left {
		display: flex;
		flex-direction: column;
		width: 34vw;
		margin-left: 3rem;
		align-items: flex-end;
	}

	.title {
		border-top: 1rem solid #DE3845;
		width: max-content;
	}

	.title h1 {
		color: #161411;
		font-size: 1.1rem;
		font-style: italic;
		position: relative;
		top: -.9rem;
	}

	.introduction {
		margin-right: 2rem;
		text-align: justify;
	}

	/* RIGHT SIDE */

	.info-right {
		width: 34vw;
		margin-right: 3rem;
		padding-top: 8rem;
	}

	.right-arrow {
		width: 1.2rem;
	}

	.info-container {
		display: flex;
		flex-direction: column;
	}

	.dropdown-button {
		display: flex;
	}

/* LAST PART - FOOTER */